p{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: 700;
}
ul{
    list-style: square;
    color: blue;
}
h1{
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
}
h2{
    color: rgb(124, 238, 10);
    font-size: 18px;
 font-style: oblique;
}
p{
   text-align: left; 
   font-size: 16px;
   text-transform: lowercase;
}
div{
    background-color: rgb(245, 241, 185) ;
}
ol{
  list-style: lower-roman;
}
li{
color: rgb(128, 2, 247);
font-size: 18px;
}
li{
    color: rgb(255, 106, 0);
    font-size: 16px;
}